body {
  background-color: azure;
}

.nav-bar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-description {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding-left: 80px;
  font-size: 150%;
  color: #3a3b3c;
}

.navbar-brand {
  font-size: 22px;
  color: #fdd31d;
  text-decoration: none;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  padding-left: 80px;
}

.navbar-import {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #fdd31d;
  padding: 8px 20px 12px;
  display: block;
  border: 1px solid #fdd31d;
  border-radius: 5px;
  margin-right: 80px;
}

.course-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.course-1 {
  height: 400px;
  width: 300px;
  border: 0.5px solid #bbbbbb;
  border-radius: 5px;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 10px;
  object-fit: contain;
}

.thumbnail {
  width: 100%;
  /* or any custom size */
  object-fit: contain;
}

.thumbnail img {
  width: 100%;
  /* or any custom size */
  height: auto;
  object-fit: contain;
}

.description {
  display: block;
  text-align: left;
}

.description :nth-child(1) {
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: -10px;
}

.description :nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.description button {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: aliceblue;
  /* background-color: green; */
  padding: 8px 20px 12px;
  display: block;
  width: 100%;
  border: 1px solid green;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  height: 320px;
  width: 500px;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 7px;
}

input {
  margin: 8px auto;
  display: block;
  width: 70%;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 7px;
}

.myform {
  padding-top: 38px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #666;
}

.popup-button {
  display: inline-block;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: azure;
  margin-top: 15px;
  padding: 8px 20px 12px;
  background-color: #fdd31d;
  border: 1px solid #fdd31d;
  border-radius: 5px;
  width: 76%;
}

.popup-button:hover {
  background-color: #f3cc20;
  color: azure;
  border: 2px solid #f3cc20;
}

.verified {
  background-color: green;
}
.rejected {
  background-color: red;
}
